.content {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleContainer {
  width: 50%;
  min-width: 270px;
  padding: 25px;
  margin-bottom: 25px;
  text-align: center;
  border-bottom: 2px solid grey;
}

.articleContainer h3 {
}

.articleContainer img {
  width: 100%;
}

.pageNavigation {
  display: flex;
  justify-content: center;
}

.pageNavigation div {
  margin-right: 25px;
}

.link {
  cursor: pointer;
}

.active {
  color: black;
  cursor: pointer;
  pointer-events: all;
}

.inactive {
  color: grey;
  pointer-events: none;
}
