.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.link {
  border-radius: 25px;
  padding: 0.5rem;
  border: 2px solid black;
  margin-right: 25px;
  font-weight: bold;
}

.link:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
